.button {
    @apply
        text-sm
        font-semibold
        uppercase
        text-gray-100
        bg-primary-red
        rounded-md
        shadow
        px-6
        py-4
        hover:text-white
        hover:bg-secondary-red
        focus:outline-none;
    }
a { @apply transform; }